@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "reset.css";

/* screens */
@import "screens/first-screen.css";
@import "screens/second-screen.css";

/* components */
@import "components/screen-header.css";

html {
    padding: 30px;
}

body {
    width: 100%;
    height: 1000vh;
    font-family: 'Nunito', sans-serif;
    color: #2f363e;
}

* {
    box-sizing: border-box;
}

.screen-header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.music,
.nav {
    z-index: -1;
}